# Boston Median Home Sales
##### Jan-June 2021-2022

The municipalities are divided up into various community types:

- Metro Core Communities (Inner Cities)
- Regional Urban Centers
- Street Car Suburbs
- Developing Suburbs
- Maturing Suburbs
- Rural Towns

I really only want to answer 3 questions:

1. Which top 10 `Municipalities(s)` performed the best?
2. Which `Community Type` performed the best?
3. present the top 3 performers from each `Community Type`

In [17]:
import pandas as pd
import sqlite3


con = sqlite3.connect('single_db.db')
single = pd.read_csv('./single.csv')
# single_db = single.to_sql('single_db', con)
# !pip install ipython-sql
# %load_ext sql

%sql sqlite:///single_db.db

In [19]:
%%sql
--Getting the top 5 metro core cities ranked by pct change
SELECT municipality as town, pct_change
FROM single_db
WHERE community_type = 'Metro Core Communities'
ORDER BY pct_change DESC
LIMIT 5

 * sqlite:///single_db.db
Done.

[('Somerville', 44.4),
 ('Chelsea', 27.3),
 ('Boston', 27.1),
 ('Cambridge', 15.4),
 ('Everett', 12.5)]

In [21]:
%%sql
--Getting the top 5 reg urban centers ranked by pct change
SELECT municipality as town, pct_change
FROM single_db
WHERE community_type = 'Regional Urban Centers'
ORDER BY pct_change DESC
LIMIT 5

 * sqlite:///single_db.db
Done.

[('Amesbury', 15.7),
 ('Lawrence', 14.7),
 ('Brockton', 13.9),
 ('Salem', 13.4),
 ('Lynn', 13.3)]

In [23]:
%%sql
--Getting the top 5 Streetcar Suburbs ranked by pct change
SELECT municipality as town, pct_change
FROM single_db
WHERE community_type = 'Streetcar Suburbs'
ORDER BY pct_change DESC
LIMIT 5

 * sqlite:///single_db.db
Done.

[('Brookline', 37.4),
 ('Arlington', 21.7),
 ('Medford', 14.3),
 ('Winthrop', 10.5),
 ('Melrose', 9.7)]

In [24]:
%%sql
--Getting the top 5 Developing Suburbs ranked by pct change
SELECT municipality as town, pct_change
FROM single_db
WHERE community_type = 'Developing Suburbs'
ORDER BY pct_change DESC
LIMIT 5

 * sqlite:///single_db.db
Done.

[('Sherborn', 33.5),
 ('Abington', 27.0),
 ('Medway', 24.9),
 ('Ayer', 24.8),
 ('Stow', 24.5)]

In [25]:
%%sql
--Getting the top 5 Maturing Suburbs ranked by pct change
SELECT municipality as town, pct_change
FROM single_db
WHERE community_type = 'Maturing Suburbs'
ORDER BY pct_change DESC
LIMIT 5

 * sqlite:///single_db.db
Done.

[('Lincoln', 30.5),
 ('Nahant', 28.0),
 ('Medfield', 26.3),
 ('Wellesley', 23.4),
 ('Acton', 21.2)]

In [26]:
%%sql
--Getting the top 5 Rural ranked by pct change
SELECT municipality as town, pct_change
FROM single_db
WHERE community_type = 'Rural Towns'
ORDER BY pct_change DESC
LIMIT 5

 * sqlite:///single_db.db
Done.

[('Ashby', 5.8)]